<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>

    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /></assemblies></compilation>
    <pages>
      <namespaces>
        <add namespace="System.Data" />
        <add namespace="System.Text" />
          <add namespace="System.Xml" />
          <add namespace="System.Xml.Linq" />
          
      </namespaces>
    </pages>  
<authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="240" cookieless="UseCookies" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="404.html" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.cshtml" />
            </files>
        </defaultDocument>

        <caching>
          <profiles>
            <add extension="xml" kernelCachePolicy="DontCache" policy="DontCache"/>
              </profiles>
        </caching>
        <staticContent>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        <rewrite>
          <rules>
            <rule name="Redirect to Admin">
              <match url="^admin" />
              <action type="Redirect" redirectType="Permanent" url="webcomicx/admin" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>