<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="240" cookieless="UseCookies" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="404.html" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="default.cshtml" />
      </files>
    </defaultDocument>
    <caching>
      <profiles>
        <add extension="xml" kernelCachePolicy="DontCache" policy="DontCache"/>
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Rewrite to Category">
          <match url="^admin" />
          <action type="Redirect" url="webcomicx/admin" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
