@using System.Xml.Linq
@using System.Xml
@{
    Page.Title = "New Blog Post";    

	// set the name of the file
	string filename = "/content/xml/content/blog.xml";
    var load = new Comic();
    var blog = load.LoadComic(filename);
        var guide = Request["tutorial"].AsBool();
        var returnUrl = "~/webcomicx/admin/blog";
        var tutorial = "";

        if(guide){
            returnUrl = returnUrl+"?tutorial=true";
            tutorial = "?tutorial=true";
        }
    if(IsPost){
        var date = DateTime.UtcNow;
        int pageId = 1;
        var title = Request["title"];
        var content = Request.Unvalidated("content");
        var description = Request.Unvalidated("description");
        var status = Request["status"];


        var blogPost = (from xml in blog.Descendants("Post")
        orderby (string) xml.Element("Id") descending
            select xml).FirstOrDefault();
        
        string pattern = "[^a-zA-Z0-9]+"; //regex pattern 
        var url = System.Text.RegularExpressions.Regex.Replace(title.ToLower(),pattern, "-");

        try{
        pageId = blogPost.Element("Id").Value.AsInt()+1;
        }
        catch{
        
        }
              
                    var newElement =  new XElement(
                        new XElement("Post",
                            new XElement("Title", title),
                            new XElement("Description", description),
                            new XElement("Content", content),
                            new XElement("PermaLink", url),
                            new XElement("Date", date),
                            new XElement("Id", pageId),
                            new XElement("Status", status)
                        )
                    );

                    blog.Element("BlogPosts").Add(newElement);


                    blog.Save(Server.MapPath(filename));

                    Response.Redirect(returnUrl);

        }
}
<form method="post" action="">
<h2>
    New Post
    <span class="float-right" style="margin: 4px 6px">
    <input type="radio" id="draft" name="status" value="draft" style="display: none"><label onclick="checkButton()"  id="status" for="draft" class="button is-unchecked" style="display: initial">Draft</label><input type="radio" checked="checked" id="publish" name="status" value="publish" style="display: none"><label  onclick="checkButton()"  id="status" for="publish"  class="button is-checked" style="display: initial">Publish</label>

    </span>
    <a class="button float-right" href="/webcomicx/admin/blog/@tutorial"> &laquo; Back to Blog Manager</a>
</h2>
    <div class="clear-fix"></div>
    <fieldset>
        <input name="title" placeholder="Post Title" type="text" value="" style="max-width: initial">

	<textarea class="content" name="content" style="height: 400px;"></textarea>
        <label>Description</label>
	<textarea name="description" style="min-height: 100px"></textarea>
	<br />
    </fieldset>
    <br><br>
    <button type="submit">Create</button>
</form>
@section header{
<script type="text/javascript" src="/webcomicx/admin/scripts/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">
    tinymce.init({
        selector: "textarea.content",
        plugins: [
            "advlist autolink lists link image charmap anchor",
            "searchreplace visualblocks code fullscreen",
        ],
        file_browser_callback: '',
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
}