@{
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Webcomicx @Page.Title</title>
        <link href="~/webcomicx/admin/jquery-themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="/webcomicx/admin/styles/admin.min.css" rel="stylesheet" type="text/css" />
        <script src="~/webcomicx/admin/Scripts/jquery-1.10.2.min.js" async></script>
        <script src="~/webcomicx/admin/Scripts/modernizr-2.7.1.min.js" async></script>
    <script src="~/webcomicx/admin/Scripts/jquery.validate.min.js"></script>
    <script src="~/webcomicx/admin/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <meta name="viewport" content="width=device-width" />
        <style>
            body {
                margin: 0
            }
        </style>

    </head>
    <body>
        <div class="webcomicx">
            <h1><a href="https://github.com/Sheldon-Lloyd/WebcomicX">WebcomicX</a></h1>

        @RenderBody()
        </div>
    </body>
</html>
@RenderSection("Scripts",false)