@{
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
}
<style>
    #fb-root {
        display: none;
    }

            /* To fill the container and nothing else */
    .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
        width: 100% !important;
    }
</style>
<div class="fb-comments" data-href="@url" data-width="100%" data-num-posts="5">Loading...</div>
<script async>
    $(window).on('hashchange', function () {
        $(".fb-comments").attr('data-href', window.location);

    (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
        FB.XFBML.parse();
    });
    $(window).trigger('hashchange');
</script>
