@using System.Xml.Linq
@using System.Xml
@{
    Page.PreppendTitle = "Blog - ";
    string filePath = "";
    bool include = false;
    var load = new Comic();
    var blog = load.LoadComic("/content/xml/content/blog.xml");
    var blogSettings = load.LoadComic("/App_Data/blog-settings.xml");
    var settings = load.LoadComic("~/App_Data/WebcomicX.xml");
    include = settings.Descendants("Blog").ElementAt(0).Value.AsBool();
    @load.ManageSite();
    if (include) {

        var type = blogSettings.Descendants("Type").ElementAt(0).Value;
        var blogPost = (from xml in blog.Descendants("Post")
                        where xml.Element("Status").Value == "publish"
                        orderby (string)xml.Element("Date") descending
                        select xml);


        if (type != "webcomicx") {
            var redirectUrl = blogSettings.Descendants("Url").ElementAt(0).Value;
            Response.Status = "301 Moved Permanently";
            Response.AddHeader("Location", redirectUrl);
        }
        try {
            var theme = settings.Descendants("Settings").Descendants("Theme").ElementAt(0).Value;
            if (WebSecurity.IsAuthenticated) {
                if (HttpContext.Current.Session["previewTheme"] != null) {
                    theme = HttpContext.Current.Session["previewTheme"].ToString();
                }
            }
            filePath = "~/content/themes/" + theme + "/layouts/_main.cshtml";

        } catch {
        }
        if (HttpContext.Current.Session["previewTheme"] != null) {

            HttpContext.Current.Session.Remove("previewTheme");
        }

        Layout = filePath;
        @section heading{
            <h1>Blog</h1>
        }
        @section article{
            @foreach (var post in blogPost) {//display posts
                DateTime date = post.Element("Date").Value.AsDateTime();
                <h2><a href="/blog/post/@post.Element("Id").Value/@post.Element("PermaLink").Value">@post.Element("Title").Value</a></h2>
                <h6>
                    @date.ToString("MMM dd yyyy")
                    @if (WebSecurity.IsAuthenticated) {
                        <text>|</text> <a href="/webcomicx/admin/blog/edit-post/@post.Element("Id").Value">Edit</a>
                    }
                </h6>
                <p>@post.Element("Description").Value</p>
            }
        }
    } else {
        Page.PreppendTitle = "404 - ";
        Response.Status = "404 Not Found";
        @section article{

            <h2>Sorry, the page you were looking for does not exist.</h2>

        }

        }
    }