@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


body,html {
    font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    background: #fbfbfb;
    margin: 0;
    padding: 0;
    width: 100%;
}
img{
    max-width: 100%;
}
p {
    margin-top: 0;
}
aside{
    float:left;
    width:250px;
}
footer{
    clear:both;
}
h1 {
    font-family: serif;
    font-size: 2.2em;
    margin:0;
}
dt{
    margin-left:40px;
    font-weight:600;
}
a {
    color: #365b87;
}
a:hover {
    text-decoration: none;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf {
    zoom: 1;
}
.wrapper {
    margin: auto;
    max-width: 1000px;
}
.nav {
    padding: 0;
    background: #333;
    text-align: center;
}
.nav ul {
    padding: 0;
    margin: 0 40px;
    float: left;
}
.nav li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-right:20px;
}
.nav .button{
    font-size: .85em;
    border-radius: 0;
    border: 0;
    color: #333;
    width: 300px;
    padding: 30px!important;
}
.container {
    background: #555;
    color: #fbfbfb;
    border: 1px solid #ccc;
}
.container-inner {
    padding: 50px 40px;
}
.hero-description h2 {
    font-weight: 500;
    font-weight: normal;
    margin: 0;
}
.container-anchor {
    color: #D1D1D1;
    display:inline-block;
}
.container .button{
    margin-top:10px;
}
.aside-heading{
    padding: 10px 0;
    margin: 13px 0 0 0;
    border-bottom: 3px #555 solid;
    font-weight: 600;
    font-weight: normal;
    line-height: 1.5;
}
.guide-container{
    position: relative;
    z-index: 2;
}
.guide article {
    width: 100%;
    margin-left: -250px;
    padding-left: 250px;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.item-list{
    list-style: none;
    padding: 0;
}

.nav a {
    padding: 30px 0;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}
.button{
    padding: 15px 20px!important;
    border-radius: 5px;
    border: 3px #C7C7C7 solid;
    color: #333;
    font-weight:600;
    text-decoration: none;
    background: #fbfbfb;
    display: inline-block;
    text-align:center;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:hover{
    background: #ccc;
    border-color: #fbfbfb;
}

.float-right {
    float: right;
}
.float-left{
    float: left;
}
.flexbox{
    display: flex;
}
.content {
    padding: 0 40px;
    border-radius: 2px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 60px;
}
.heading {
    border-bottom: 3px solid #ccc;
    text-align: center;
    padding: 10px;
}
.hero{
    background: #333;
    color: #fff;
}
.hero-description{
    flex: 1;
    padding: 30px 40px;
    font-size: .8em;
}
.hero a:not(.container-anchor):not(.button){
    color: inherit;
    text-decoration: none;
}
.hero-col-2{
    text-decoration: none;
    text-align: center;
    width: 300px;
    align-self: center;
    display: block;
}
/*Resposive Web Design Styles*/
@media screen and (max-width:768px){
    .nav .button{
        width:100%;
    }    
    .nav .button.float-right {
        float:none;
    }
    .nav ul{
        float:none;
    }
    aside {
        float: none;
        width: auto;
    }
    .guide article.float-right {
        width: auto;
        margin: 0;
        padding: 0;
        float:none;
    }
    .aside-heading {
        padding: 10px 40px;
    }
    aside .item-list {
        padding: 0 40px;
    }
    .hero .flexbox{
        display: block;
    }
    .hero-col-2{
        padding: 0 40px;
        text-align: left;
    }
}
@media screen and (max-width:480px){
    .container .button{
        width:100%;
    }    
    body{
        font-size:15px;
    }
    .content,aside .item-list {
        padding: 0 20px;
    }
    .aside-heading {
        padding: 10px 20px;
    }

}
