@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


body {
    font:20px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    background: #fbfbfb;
}
p {
    margin-top: 0;
}
aside{
    float:left;
    width:250px;
}
footer{
    clear:both;
}
h1 {
    font-family: serif;
    font-size: 2.2em;
    margin-bottom:0;
}
dt{
    margin-left:40px;
    font-weight:600;
}
a {
    color: #365b87;
}
a:hover {
    text-decoration: none;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf {
    zoom: 1;
}
.wrapper {
    max-width: 800px;
    margin: auto;
}
.nav {
    padding: 10px 40px;
    background: #efefef;
    text-align: center;
    border: 1px #ccc solid;
    border-radius: 2px;
    margin:20px 0;
}
.nav ul {
    padding: 0;
    margin:0;
    float:left;
}
.nav li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-right:20px;
}

.container {
    background: #555;
    color: #fbfbfb;
    border: 1px solid #ccc;
}
.container-inner {
    padding: 50px 40px;
}
.container h2 {
    font-weight: 600;
    font-weight: normal;
    margin-bottom: 40px;
    line-height: 1.5;
}
.container-anchor {
    color: #D1D1D1;
    display:inline-block;
}
.container .button{
    margin-top:10px;
}
.aside-heading{
    padding: 10px 0;
    margin: 13px 0 0 0;
    border-bottom: 3px #555 solid;
    font-weight: 600;
    font-weight: normal;
    line-height: 1.5;
}
.guide-container{
    position: relative;
    z-index: 2;
}
.guide article {
    width: 100%;
    margin-left: -250px;
    padding-left: 250px;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.item-list{
    list-style: none;
    padding: 0;
}

.nav a {
    padding: 15px 0;
    color: #555;
    display: inline-block;
    box-sizing: border-box;
}
.button{
    padding: 15px 20px!important;
    border-radius: 5px;
    border: 3px #C7C7C7 solid;
    color: #333;
    font-weight:600;
    text-decoration: none;
    background: #fbfbfb;
    display: inline-block;
    text-align:center;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:hover{
    background: #ccc;
    border-color: #fbfbfb;
}

.float-right {
    float: right;
}

.content {
    padding: 0 40px;
    border-radius: 2px;
    max-width: 700px;
    margin-bottom: 60px;
}
.heading {
    border-bottom: 3px solid #ccc;
    text-align: center;
    padding: 10px;
}
/*Resposive Web Design Styles*/
@media screen and (max-width:768px){
    .nav .button{
        width:100%;
    }    
    .nav .button.float-right {
        float:none;
    }
    .nav ul{
        float:none;
    }
    aside {
        float: none;
        width: auto;
    }
    .guide article.float-right {
        width: auto;
        margin: 0;
        padding: 0;
        float:none;
    }
    .aside-heading {
        padding: 10px 40px;
    }
    aside .item-list {
        padding: 0 40px;
    }
}
@media screen and (max-width:480px){
    .container .button{
        width:100%;
    }    
    body{
        font-size:15px;
    }
    .content,aside .item-list {
        padding: 0 20px;
    }
    .aside-heading {
        padding: 10px 20px;
    }
}
