@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


body {
    font:20px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    background: #fbfbfb;
}
p {
    margin-top: 0;
}
h1 {
    font-family: serif;
    font-size: 2.2em;
    margin-bottom:0;
}
a {
    color: #365b87;
}
a:hover {
    text-decoration: none;
}
.button,button,[role="button"] {
    padding: 15px 20px;
    border-radius: 5px;
    border: 3px #C7C7C7 solid;
    color: #333;
    font-weight:600;
    text-decoration: none;
    background: #fbfbfb;
    display: inline-block;
}
[role="button"]:hover,.button:hover,button:hover {
    background: #ccc;
    border-color: #fbfbfb;
}
.wrapper {
    max-width: 800px;
    margin: auto;
}
.nav {
    padding: 10px 0;
    background: #efefef;
    text-align: center;
    border: 1px #ccc solid;
    border-radius: 2px;
}
.nav li {
    display: inline-block;
    list-style: none;
    padding: 0;
}
.container {
    padding: 50px 40px;
    background: #E7E7E7;
    background: #555;
    color: #fbfbfb;
    border: 1px solid #ccc;
}
.container h2 {
    font-weight: 600;
    font-weight: normal;
    margin-bottom: 40px;
    line-height: 1.5;
}
.container a {
    color: #D1D1D1;
}
.nav a {
    padding: 15px;
    color: #555;
    display: inline-block;
}
.float-right {
    float: right;
}

.content {
    padding: 0 40px;
    background: #fbfbfb;
    margin: auto;
    border-radius: 2px;
    max-width: 700px;
    margin-bottom: 60px;
}
.heading {
    border-bottom: 3px solid #ccc;
    text-align: center;
    padding: 10px;
}
