@using System.Xml.Linq
@using System.Xml

@{
    var comicfilename = "/content/xml/comics/comic-list.xml";
    var collectionfilename = "/content/xml/comics/collections.xml";
    var load = new Comic();
    var comic = load.LoadComic(comicfilename);
    var collections = load.LoadComic(collectionfilename);
    
    if(IsPost){
        var collectionNo = Request["collectionNo"];
        int collectionNode = Convert.ToInt32(collectionNo) -1;
        var comics = (from xml2 in comic.Descendants("Comic")
               where xml2.Element("Collection").Value == collectionNo
               select xml2);

    foreach (var collection in comics)
    {
        collection.Element("Collection").Value="";
    }
    collections.Descendants("Collection").ElementAt(collectionNode).Remove();

    Response.Write(collectionNode);
    comic.Save(Server.MapPath(comicfilename));
    collections.Save(Server.MapPath(collectionfilename));
}
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
