@using System.Xml.Linq
@using System.Xml
@{
    if(IsPost){
	    string filename = "/content/xml/content/blog.xml";
        var load = new Comic();
        var webpageXml = load.LoadComic(filename);
        var pageId = Request["postId"];
        var guide = Request["tutorial"].AsBool();
        var returnUrl = "~/webcomicx/admin/blog";

        if(guide){
            returnUrl = returnUrl+"?tutorial=true";
        }

        var webpage = (from xml in webpageXml.Descendants("Post")
            where xml.Element("Id").Value==pageId
            select xml).FirstOrDefault();
        
        webpage.Remove();
        
        webpageXml.Save(Server.MapPath(filename));

        Response.Redirect(returnUrl);
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
