#webcomicx-title {
    background: #fff;
    margin: 0;
    padding: 7px;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    border-right: 1px solid #ccc;
    cursor: default;
    color: #888;
    font-size: 1.3em;
    line-height: 1.25;
}
#webcomicx-menu {
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}
#webcomicx-menu {
    background: #fff;
    float: left;
    margin: -10px;
    position: relative;
}
ul#webcomicx-menu {
    display: none;
    background: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 8px;
    list-style: none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
ul#webcomicx-menu li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
ul#webcomicx-menu li a{
    display: block;
}
#webcomicx-menu:hover ul#webcomicx-menu{
    display: initial;
}
#webcomicx-login {
    display: block;
    float: right;
}
#webcomicx-login a{
    margin: 0 10px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#webcomicx-comic-name {
    float: left;
}
#webcomicx-navbar form{
    display: inline-block;
}
#webcomicx-navbar {
    zoom:1;
    background: #ccc;
    padding: 10px;
    font-size: 16px;
    position: fixed;
    z-index: 99999999;
    left: 0;
    right: 0;
    top: 0;
    line-height: 1;
    border-bottom: 1px solid #888;
}
#webcomicx-navbar a{
    color: #365b87;
    background: none;
}
#webcomicx-login a{
    color: #333;
    text-decoration: underline
}
#webcomicx-login a:hover{
    text-decoration: none
}
#webcomicx-navbar:after {
clear: both;
}
#webcomicx-navbar:before, #webcomicx-navbar:after {
content: "";
display: table;
}
body{
    margin-top: 40px!important;
}
@media only screen and (max-width: 600px) {
    #webcomicx-login {
        float: initial;
        padding-bottom: 10px
    }
    #webcomicx-login span{
        max-width: 200px
    }

    #webcomicx-navbar {
        text-align:center;
    }

    #webcomicx-menu {
        float: initial;
        margin-top: 0px
    }
    body{
        margin-top: 80px!important;
    }

}
@media only screen and (max-width: 320px) {
    body{
        margin-top: 100px!important;
    }
    #webcomicx-navbar form{
    display: block;
}
}
