#webcomicx-title {
    background: #fff;
    margin: 0;
    padding: 7px;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    cursor: default;
    color: #888;
    font-size: 1.3em;
    line-height: 1.25;
}
#webcomicx-menu {
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}
#webcomicx-button{
    height: 100%;
    width: 100%;
    background: #D7D7D7;
    font-weight: 700;
    border: 0;
    transition: background .3s
}
#webcomicx-close{
    background: #ccc;
    border: 0;
    margin: -8px -8px -8px 8px;
    padding: 8px 16px;
    font-size: 1.3em;
    float: right;
}
#webcomicx-close:hover{
    background: #f2f2f2;
}
#webcomicx-button:hover{
    background: #f2f2f2;
}
#webcomicx-button:active{
    background: #c2c2c2;
}
#webcomicx-button-txt1 {
    font-size: .7em;
    font-weight: 500;
}
#webcomicx-menu {
    background: #fff;
    margin: 0;
    position: relative;
    display: table-row;
    height: 100%
}
#webcomicx-menu-inner{
    height: 100%;
    display: table-cell
}
ul#webcomicx-menu {
    background: #fff;
    left: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
    display: block;
    height: 100%;
    overflow: auto
}
ul#webcomicx-menu li a{
    padding: 10px;
    border-top: 1px solid #ccc;
    display: block;
}
#webcomicxLogoutForm{
    margin: 0;
    display: block
}
#webcomicx-login {
    display: block;
    float: right;
}
#webcomicx-login a{
    margin: 0 10px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#webcomicx-comic-name {
    float: left;
}
#webcomicx-navbar {
    zoom:1;
    background: #ccc;
    font-size: 16px;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    top: 0;
    line-height: 1;
}
#webcomicx-nav-inner {
    background: #fff;
    float: left;
    margin: 0;
    position: relative;
    height: 100%;
    display: table;
}
#webcomicx-navbar a{
    color: #365b87;
    background: none;
}
#webcomicx-login a{
    color: #333;
    text-decoration: underline
}
#webcomicx-navbar:after {
clear: both;
}
#webcomicx-navbar:before, #webcomicx-navbar:after {
content: "";
display: table;
}
body,html{
    margin: 0;
    padding: 0
}
@media only screen and (max-width: 600px) {
    #webcomicx-login {
        float: initial;
        padding-bottom: 10px
    }
    #webcomicx-login span{
        max-width: 200px
    }

    #webcomicx-navbar {
        text-align:center;
    }

    #webcomicx-menu {
        float: initial;
        margin-top: 0px
    }

}
